# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [32]:
import pandas as pd
import numpy as np

url_1 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv"
df_1 = pd.read_csv(url_1)

url_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
df_2 = pd.read_csv(url_2)

url_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_3 = pd.read_csv(url_3)

df = pd.concat([df_1,df_2,df_3])

df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
df["st"] = df["st"].fillna(df["state"])
df.drop(columns = "state", inplace = True)
df.columns.values[11] = "gender2"
df["gender"] = df["gender"].fillna(df["gender2"])
del df["gender2"]

In [39]:
df.dropna(how = "all", inplace=True)
df.shape

(9137, 11)

In [60]:
df["st"].value_counts()
df["st"].replace({"AZ" : "Arizona", "WA" : "Washington", "Cali" : "California"}, inplace=True)

df["gender"].value_counts()
df["gender"].replace({"Male": "M", "female" : "F", "Femal" : "F" }, inplace=True)

df["education"].value_counts()
df["education"].replace({"Bachelors" : "Bachelor"}, inplace = True)

df['customer_lifetime_value'] = df['customer_lifetime_value'].str.replace('%', '')

df["vehicle_class"].replace({"Sports Car": "Luxury", "Luxury SUV": "Luxury", "Luxury Car": "Luxury"}, inplace = True)

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury'], dtype=object)

In [62]:
df = df.drop_duplicates()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [87]:
url = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df = pd.read_csv(url)

df.dropna(how = "all", inplace=True)
df.drop_duplicates(inplace = True)
df.reset_index

df["sales_channel"].value_counts()

pivot_df = df.pivot_table(index = "sales_channel", values = "total_claim_amount", aggfunc = "sum")
pivot_df = pivot_df.round(2)

In [89]:
pivot_table = df.pivot_table(values='customer_lifetime_value', index='gender', columns='education', aggfunc='mean')
pivot_table

education,Bachelor,College,Doctor,High School or Below,Master
gender,,,,,
F,7874.269478,7748.823325,7328.508916,8675.220201,8157.053154
M,7703.601675,8052.459288,7415.333638,8149.687783,8168.832659

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here